/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "ycyw";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: #2D2D2F;
  --color-primary: #FF3B00;
  --color-primary-content: white;
  --color-secondary: #235EC4;
  --color-secondary-content: white;
  --color-accent: #77BCC3;
  --color-accent-content: oklch(38% .063 188.416);
  --color-neutral: oklch(14% .005 285.823);
  --color-neutral-content: oklch(92% .004 286.32);
  --color-info: oklch(74% .16 232.661);
  --color-info-content: oklch(29% .066 243.157);
  --color-success: oklch(76% .177 163.223);
  --color-success-content: oklch(37% .077 168.94);
  --color-warning: oklch(82% .189 84.429);
  --color-warning-content: oklch(41% .112 45.904);
  --color-error: oklch(71% .194 13.428);
  --color-error-content: oklch(27% .105 12.094);

  /* border radius */
  --radius-selector: .5rem;
  --radius-field: .25rem;
  --radius-box: .5rem;

  /* base sizes */
  --size-selector:.25rem;
  --size-field:.25rem;

  /* border size */
  --border:1px;

  /* effects */
  --depth:1;
  --noise:0;
}
